{
  "ConnectionStrings": {
    "DefaultConnectionString": "Server=postgres;Port=5432;Database=supwardenDB;Username=supwarden;Password=supwarden;"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
